.section-about {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: medium;
  font-weight: 700;
  width: 70vw;
  padding: 20px;
  border-radius: 5px;
  z-index: 0;
  color: black;
  margin-bottom: 30px;
}

.section-about::after {
  content: "";
  background-image: url('./assets/cool-rocks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
}

.section-about a {
  color: darkgreen;
  font-size: larger;
  font-weight: bold;
  background-color: azure;
  border-radius: 5px;
  padding: 0 5px;
}

.section-about .about-text {
  flex: 3 0 200px;
  margin: 0 100px 0 30px;
  line-height: 30px;
}

.head-shot img {
  flex: 1 0 200px;
  width: 130px; 
  height: 200px; 
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  p {
    font-size: small;
  }
}
