.section-services {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  /* text-align: center; */
  width: 70vw;
  padding: 20px;
  border-radius: 5px;
  z-index: 0;
  color: black;
}

.section-services::after {
  content: "";
  background-image: url('./assets/massage-dark-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
}

.section-services a {
  color: darkgreen;
}

.section-services a {
  color: greenyellow;
}

.special-pricing {
  color: blue;
  background-color: white;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
  font-weight: bold;
}

li {
  margin-bottom: 20px;
  font-weight: 500;
}

p {
  font-size: larger;
  color: aliceblue;
}