:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  text-align: center;
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
  color: #f9f9f9;
  padding: 20px 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 5px;
}

.nav-bar a {
  color: white;
  background-color: #1a1a1a;
  border-radius: 5px;
}

.hero {
  background-image: url("./assets/active-alive-woman.jpg");
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.hero h2 {
  margin-bottom: 30px;
}
.hero p {
  margin: 20px;
}

.hero-message {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  max-width: 900px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: greenyellow;
}
a:hover {
  color: #535bf2;
}

body {
  position: relative;
  padding-top: 150px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(199, 222, 190);
  background: radial-gradient(
    circle,
    rgba(199, 222, 190, 1) 23%,
    rgba(167, 16, 226, 1) 87%
  );
}

h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
}

/* h1 {
  font-size: 2vw;
}

h3 {
  font-size: 1vw;
} */

nav {
  display: flex;
  justify-content: space-around;
  width: 70vw;
 
}

.nav-bar a {
  padding: 10px;
  margin: 5px;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 1500px) {
  body {
    padding-top: 120px;
  }
}

@media screen and (max-width: 580px) {
  h1, h2, h3 {
    font-size: medium;
  }
}

/* Adjustments for smaller screens */
/* @media screen and (max-width: 768px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 3vw;
  }
} */
